#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;
    };
};

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QDRWB";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  D  |  R  |  W  |  B  |   |  J  |  F   |  U  |  P  |  ;  |
            // |  A  |  S  |  H  |  T  |  G  |   |  Y  |  N   |  E  |  O  |  I  |
            // |  Z  |  X  |  M  |  C  |  V  |   |  K  |  L   |  ,  |  .  |  /  |
            //             | ALT | GUI | SPC |   | ENT | LWR  |  ~  |

            bindings = <
&kp Q        &kp D                     &kp R                     &kp W                     &kp B                       &kp J        &kp F         &kp U                &kp P        &kp TAB
&kp A        &kp S                     &kp H                     &kp T                     &kp G                       &kp Y        &kp N         &kp E                &kp O        &kp I      
&gqt LBKT Z  &gqt RBKT X               &gqt LPAR M               &gqt RPAR C               &gqt LC(LA(LG(LS(N)))) V    &gqt LBRC K  &gqt RBRC L   &gqt LT COMMA        &gqt GT DOT  &kp FSLH
                                       &kp RALT                  &kp LGUI                  &lt 1 SPACE                 &kp RET      &mo 1         &gqt LG(SEMI) TILDE
            >;
        };

    };
};
