#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };
};

/ {
    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QDRWB";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  D  |  R  |  W  |  B  |   |  J  |  F   |  U  |  P  |  ;  |
            // |  A  |  S  |  H  |  T  |  G  |   |  Y  |  N   |  E  |  O  |  I  |
            // |  Z  |  X  |  M  |  C  |  V  |   |  K  |  L   |  ,  |  .  |  /  |
            //             | ALT | GUI | SPC |   | ENT | LWR  |  ~  |

            bindings = <
  &kp Q  &kp D  &kp R     &kp W  &kp B        &kp J      &kp F  &kp U      &kp P    &kp TAB
  &kp A  &kp S  &kp H     &kp T  &kp G        &kp Y      &kp N  &kp E      &kp O    &kp I
  &kp Z  &kp X  &kp M     &kp C  &kp V        &kp K      &kp L  &kp COMMA  &kp DOT  &kp FSLH
                &kp LGUI  &mo 1  &kp SPACE    &kp ENTER  &mo 2  &kp BSPC
            >;
        };

        layer_1 {
            bindings = <
  &trans  &kp N1  &kp N2    &kp N3  &trans       &kp LS(LPAR)  &kp LS(RPAR)  &kp UP    &trans  &trans
  &trans  &kp N4  &kp N5    &kp N6  &trans       &kp LBKT      &kp RBKT      &trans    &trans  &trans
  &trans  &kp N7  &kp N8    &kp N9  &kp N0       &kp LBRC      &kp RBRC      &trans    &trans  &trans
                  &kp LGUI  &mo 1   &kp SPACE    &kp ENTER     &mo 2         &kp BSPC
            >;
        };

        layer_2 {
            bindings = <
  &kp F1  &kp F2   &kp F3    &kp F4   &trans       &trans     &trans    &kp UP    &trans     &trans
  &kp F5  &kp F6   &kp F7    &kp F8   &trans       &trans     &kp LEFT  &kp DOWN  &kp RIGHT  &trans
  &kp F9  &kp F10  &kp F11   &kp F12  &trans       &trans     &trans    &trans    &trans     &trans
                   &kp LGUI  &mo 1    &kp SPACE    &kp ENTER  &mo 2     &kp BSPC
            >;
        };
    };
};
